@import url(reset.css);

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}
h1 {
  font-size: 56px;
  font-weight: 600;
  margin: 25px 0 25px 10px;
}
h2 {
  font-size: 32px;
  font-weight: 600;
}
li {
  margin: 10px;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.description {
  margin: 50px 0px;
  text-align: justify;
}
.description h2 {
  text-align: center;
  margin: 0px 0px 20px;
}
.description p {
  margin: 10px;
}
.purchase {
  text-align: center;
}
.go-to-store {
  font-size: 32px;
  margin: 50px 0;
}
.table_hw {
  text-align: center;
  font-size: 32px;
  margin: 50px;
}
table {
  margin: 50px auto;
}
table, td, tr {
  border: 1px solid black;
  border-collapse: separate;
  border-spacing: 2px;
}
td {
  background-color: #ECE4B7;
  width: 100px;
  height: 100px;
}
.td1 {background-color:#D36135}
.td6 {background-color:#02020B;}
.td7 {background-color: #E6AA68;}
.td9 {background-color:#7FB069;}
.td19 {background-color: #02020B;}
.td24 {background-color: #D36135;}
.td28 {background-color: #E6AA68;}
table + p {
  text-align: center;
  font-size: 32px;
  margin: 60px;
}